.container {
  text-align: center;
  margin-top: 50px;
}

.menu {
  margin-top: 20px;
}

  .menu .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

    .menu .btn:hover {
      background-color: #0056b3;
    }
