<div class="container">
  <h1>Bem-vindo ao Sistema de Gestão de Documentos</h1>
  <p>Este sistema permite gerenciar e validar documentos de forma eficiente, com as seguintes funcionalidades:</p>
  <div>
    <p>Listar documentos e aplicar filtros</p>
    <p>Enviar novos documentos para análise</p>
    <p>Exportar relatórios em formato Excel</p>
  </div>
  <div class="menu">
    <!-- Botões com links corretos -->
    <a routerLink="/documentos-list" class="btn">Listagem de Documentos</a>
    <a routerLink="/documentos-upload" class="btn">Enviar Documento</a>
  </div>
</div>
